main img {
    height: 300px;
}

html, main, header, footer, body {
    background-color: lightblue;
    text-align: center;
}
nav a {
    padding: 5px;
}

h2 {
    color: blue;
}

.d {
background-color: darkblue;
}

footer {
    background-color: rgb(4, 84, 131);
    padding: 10px;
}

h1 {
   text-transform: uppercase
}

p {
    text-align: justify;
}
